<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Loga  Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="de.chdev.artools.loga.editor.LogaContributor"
            class="de.chdev.artools.loga.editor.LogaEditor"
            id="de.chdev.artools.loga.editor.logaeditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="de.chdev.artools.loga">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.gif"
            category="de.chdev.artools.loga"
            class="de.chdev.artools.loga.editor.SampleNewWizard"
            id="de.chdev.artools.loga.editor.SampleNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.chdev.artools.loga.handler.OpenLogaEditorHandler"
            description="Opens the Loga Editor"
            id="de.chdev.artools.loga.command.openeditor"
            name="Open Loga Editor">
      </command>
      <command
            defaultHandler="de.chdev.artools.loga.handler.LoadNewLogHandler"
            id="de.chdev.artools.loga.command.loadlog"
            name="Load Log File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.chdev.artools.toolbar">
            <command
                  commandId="de.chdev.artools.loga.command.openeditor"
                  icon="icons/sample.gif"
                  label="Open Editor"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <command
               commandId="de.chdev.artools.loga.command.loadlog"
               icon="icons/sample.gif"
               label="Load Log File"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
